.tags{
	float: left;
	width: 300px;
	text-align: center;
}

.links{
	float: right;
	width: 700px;
	text-align: center;
}

.linkscss{
	text-align: left;
	list-style-type: none;
    margin-bottom: 15px;
}

.liens{
	min-height: 360px;
}

.bottom{
	margin-bottom: 17px;
}

body { 
	padding-top: 70px; 
}

.search{
	float: left;
	margin-top: 10px;
}

.tag-button { 
	margin-bottom: 1px;
}
