<!doctype html>
<html ng-app="La route en Gular">
  <head>
    <title>La route en Gular</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="src/css/style.css"/>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="col-md-2">
        <span class="search">Search:</span> <input ng-model="query" class="search">
      </div>
    </nav>
    <div class="container main-container" ng-controller="LinkController">
      <div class="tags">
        <div ng-show="selectedTags.length"> Selected tags:</div>
        <div ng-show="!selectedTags.length ">No tags selected</div>
        <div ng-if="selectedTags.length" ng-repeat="tag in selectedTags">
          <button class="tag-button btn btn-primary btn-xs" ng-click="remove(tag)">{{tag.name}} ({{tag.count}})</button>
        </div>
        <br>
        <button ng-repeat="tag in tags | orderBy:'-count' | filter: query" ng-click="searchByTag(tag)" class="tag-button btn btn-default btn-xs">{{tag.name}} ({{tag.count}})</button>
      </div>
      <ul class="links">
        <div class="bottom">links</div>
        <div class="liens">
          <li class="linkscss" ng-repeat="link in links track by $index" ng-if="selectedTags.length>0">
            <a href="{{link.url}}" title="{{link.description}}">{{link.title}}</a>
          </li>
          <li class="linkscss"  ng-repeat="link in links track by $index" ng-if="selectedTags.length==0">
            <a href="{{link.url}}" title="{{link.description}}">{{link.title}}</a>
          </li>
        </div>
        <uib-pagination total-items="pagination.linksCount" ng-model="pagination.currentPage" max-size="5" class="pagination-sm" boundary-link-numbers="true" ng-change="changePage()">
        </uib-pagination>
      </ul>
    </div>



    <script src="bower_components/angular/angular.min.js" type="text/javascript"></script>
    <script src="bower_components/angular-animate/angular-animate.js" type="text/javascript"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/restangular/dist/restangular.js" type="text/javascript"></script>
    <script src="bower_components/lodash/lodash.js" type="text/javascript"></script>

    <script src="src/app/index.js" type="text/javascript"></script>
    <script src="src/app/links/LinkController.js" type="text/javascript"></script>
    <script src="src/app/links/LinkService.js" type="text/javascript"></script>
  </body>
</html>
